.confirm-btn{
    width: 7rem;
    padding-left:10px;
    margin-left: 2rem;
}

.close-btn{
    width: 7rem;
}


.btn-sec{
    padding: 1rem;
}

.route-delete-text{
    padding:1rem;
    font-size: 1.05rem;
}