.confirm-btn{
    width: 7rem;
    padding-left:10px;
    margin-left: 2rem;
}

.close-btn{
    width: 7rem;
}

.btn-sec{
    padding:1rem;
}

.modal-text{
    padding:1rem;
}


.associated-routes{
    padding-left: 1rem;
}